:root {
 --indigo-100: oklch(93% 0.034 272.788);
 --indigo-500: oklch(58.5% 0.233 277.117);
 --indigo-600: oklch(51.1% 0.262 276.966);
 --indigo-800: oklch(44.8% 0.119 151.328);
}

.fi-sidebar .fi-sidebar-item .fi-sidebar-item-button {
    padding: 1rem;
}

.fi-sidebar-item.fi-sidebar-item-active .fi-sidebar-item-button {
    background-color: var(--indigo-100);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 3px solid var(--indigo-600);
}
.dark .fi-sidebar-item.fi-sidebar-item-active .fi-sidebar-item-button {
    background-color: inherit;
}